doctype html
html
head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.min.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/js/script.js')
body
input#payload
button#send Send
div#room-messages

